.trustContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.trustContainer .imageContainer {
  width: 42%;
  height: 758px;
  flex-shrink: 0;
}
.trustContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trustContainer .textContainer {
  width: 58%;
  padding: 80px 0px;
}
.trustContainer .confiarList{
  padding-left: 64px;
  margin: 64px auto 0px auto ;
  width: 75%;
}
.trustContainer .textContainer .Title {
  width: 75%;
  margin: 0 auto;
  padding: 0px;
  text-align: start;
}
.trustContainer .textContainer .Text {
  font-size: 18px;
  line-height: 27px;
}
.trustContainer .textContainer .confiarList div {
  position: relative;
  margin-bottom: 42px;
}
.trustContainer .textContainer .confiarList div:last-child {
  margin-bottom: 0px;
}
.trustContainer .textContainer .confiarList div span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #1d619d;
  border-radius: 50%;
  position: absolute;
  left: -64px;
  top: 6px;
}
@media only screen and (max-width: 1250px) {
  .trustContainer .imageContainer {
    width: 44%;
  }
  .trustContainer .textContainer {
    width: 56%;
    padding-top: 64px;
  }
}
@media only screen and (max-width: 1150px) {
  .trustContainer .imageContainer {
    width: 40%;
  }
  .trustContainer .textContainer {
    width: 60%;
  }
  .trustContainer .textContainer .Title {
    font-size: 46px;
    line-height: 65px;
  }
  .trustContainer .textContainer .Text {
    font-size: 15px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 950px) {
  .trustContainer {
    padding-left: 64px;
    padding-right: 64px;
    flex-direction: column;
    align-items: center;
  }
  .trustContainer .imageContainer {
    width: 100%;
    height: 352px;
    margin-bottom: 14px;
    margin-top: 0px;
  }
  .trustContainer .textContainer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
  }
  .trustContainer .textContainer .Title {
    font-size: 46px;
    line-height: 55px;
  }
  .trustContainer .textContainer .Text {
    font-size: 20px;
    line-height: 32px;
  }
  .trustContainer .textContainer .confiarList {
    width: calc(100% - 34px);
    position: relative;
    left: 14px;
  }
  .trustContainer .textContainer .confiarList div {
    position: relative;
    margin-bottom: 20px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (max-width: 550px) {
  .trustContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .trustContainer .imageContainer {
    height: 256px;
    margin-bottom: 26px;
  }
  .trustContainer .textContainer {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .trustContainer .textContainer .confiarList div {
    margin-bottom: 15px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 12px;
    height: 12px;
  }
  .trustContainer .textContainer .Title {
    font-size: 26px;
    line-height: 36px;
    padding: 0px;
  }
  .trustContainer .textContainer .Text {
    font-size: 14px;
    line-height: 32px;
  }
}
