.trustContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 25vh;
  width: 100vw;
}
.trustContainer .imageContainer {
  width: 511px;
  height: 576px;
  margin-top: 64px;
  flex-shrink: 0;
}
.trustContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trustContainer .textContainer {
  display: flex;
  width: 561px;
  height: 641px;
  margin-top: 52px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.trustContainer .textContainer .confiarTitle {
  width: 451px;
  height: 121px;
  margin-bottom: 60px;
  flex-shrink: 0;
  color: #1d619d;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
}
.trustContainer .textContainer .confiarList div {
  position: relative;
  margin-bottom: 30px;
  /* margin-left: 48px; */
}
.trustContainer .textContainer .confiarList div span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #1d619d;
  border-radius: 50%;
  position: absolute;
  left: -32px;
  top: 8px;
}
.trustContainer .textContainer .confiarList {
  color: var(--text-gray-900, #18191f);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
@media only screen and (max-width: 1350px) {
  .trustContainer {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 1250px) {
  .trustContainer {
    padding-left: 64px;
    padding-right: 64px;
    justify-content: space-between;
  }
  .trustContainer .imageContainer {
    width: 416px;
    height: 512px;
  }
  .trustContainer .textContainer {
    width: calc(100vw - 128px - 416px - 64px);
    height: auto;
    margin-top: 49px;
  }
  .trustContainer .textContainer .confiarTitle {
    width: 100%;
    height: 121px;
    margin-bottom: 36px;
    font-size: 46px;
  }
  .trustContainer .textContainer .confiarList {
    width: 100%;
  }
  .trustContainer .textContainer .confiarList div {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
  }
  .trustContainer .textContainer .confiarList div span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #1d619d;
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 7px;
  }
  .trustContainer .textContainer .confiarList {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 950px) {
  .trustContainer {
    padding-left: 64px;
    padding-right: 64px;
    flex-direction: column;
    align-items: center;
  }
  .trustContainer .imageContainer {
    width: 100%;
    height: 352px;
    margin-bottom: 26px;
    margin-top: 0px;
  }
  .trustContainer .textContainer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
  }
  .trustContainer .textContainer .confiarTitle {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    font-size: 46px;
  }
  .trustContainer .textContainer .confiarList {
    width: calc(100% - 34px);
    position: relative;
    left: 14px;
  }
  .trustContainer .textContainer .confiarList div {
    position: relative;
    margin-bottom: 20px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 14px;
    height: 14px;
    position: absolute;
    left: -32px;
    top: 9px;
  }
  .trustContainer .textContainer .confiarList {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
}
@media only screen and (max-width: 450px) {
  .trustContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .trustContainer .imageContainer {
    height: 256px;
    margin-bottom: 26px;
  }
  .trustContainer .textContainer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .trustContainer .textContainer .confiarTitle {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 207.692% */
    padding-left: 32px;
  }
  .trustContainer .textContainer .confiarList div {
    margin-bottom: 18px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 12px;
    height: 12px;
    top: 8px;
  }
  .trustContainer .textContainer .confiarList {
    font-size: 16px;
    line-height: 28px; /* 175% */
  }
}
