.trustContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.trustContainer .imageContainer {
  width: 511px;
  height: 576px;
  margin-top: 12px;
  flex-shrink: 0;
}
.trustContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trustContainer .textContainer {
  display: flex;
  width: 561px;
  height: 641px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.trustContainer .textContainer .Title {
  font-size: 55px;
  line-height: 65px; /* 118.182% */
}
.trustContainer .textContainer .Text {
  font-size: 20px;
  line-height: 32px;
}
.trustContainer .textContainer .confiarList div {
  position: relative;
  margin-bottom: 30px;
}
.trustContainer .textContainer .confiarList div span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #1d619d;
  border-radius: 50%;
  position: absolute;
  left: -28px;
  top: 8px;
}
@media only screen and (max-width: 1250px) {
  .trustContainer {
    justify-content: space-between;
  }
  .trustContainer .imageContainer {
    width: 47%;
  }
  .trustContainer .textContainer {
    width: 47%;
    height: auto;
  }
  .trustContainer .textContainer .confiarList {
    width: 100%;
  }
}
@media only screen and (max-width: 1050px) {
  .trustContainer .textContainer .Title {
    font-size: 40px;
    line-height: 45px;
  }
  .trustContainer .textContainer .Text {
    font-size: 18px;
    line-height: 28px;
  }
  .trustContainer .textContainer .confiarList div {
    position: relative;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 950px) {
  .trustContainer {
    padding-left: 64px;
    padding-right: 64px;
    flex-direction: column;
    align-items: center;
  }
  .trustContainer .imageContainer {
    width: 100%;
    height: 352px;
    margin-bottom: 14px;
    margin-top: 0px;
  }
  .trustContainer .textContainer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
  }
  .trustContainer .textContainer .Title {
    font-size: 46px;
    line-height: 55px;
  }
  .trustContainer .textContainer .Text {
    font-size: 20px;
    line-height: 32px;
  }
  .trustContainer .textContainer .confiarList {
    width: calc(100% - 34px);
    position: relative;
    left: 14px;
  }
  .trustContainer .textContainer .confiarList div {
    position: relative;
    margin-bottom: 20px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (max-width: 550px) {
  .trustContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .trustContainer .imageContainer {
    height: 256px;
    margin-bottom: 26px;
  }
  .trustContainer .textContainer {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .trustContainer .textContainer .confiarList div {
    margin-bottom: 15px;
  }
  .trustContainer .textContainer .confiarList div span {
    width: 12px;
    height: 12px;
  }
  .trustContainer .textContainer .Title {
    font-size: 26px;
    line-height: 36px;
    padding: 0px;
  }
  .trustContainer .textContainer .Text {
    font-size: 14px;
    line-height: 32px;
  }
}
