.smsSection,
.ifacSection {
  padding-left: 96px;
  padding-right: 96px;
}
.smsLogoMain {
  width: 839px;
  height: 255px;
  flex-shrink: 0;
  margin-top: 70px;
  margin-bottom: 44px;
}
.foroLogoMain {
  width: 927px;
  height: 166px;
  margin-bottom: 60px;
}
.smsSection .content {
  margin-bottom: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smsSection .content img {
  width: 100%;
  max-height: 546px;
  object-fit: cover;
  object-position: bottom;
  margin-bottom: 63px;
}
.tsms {
  line-height: 50px;
  text-align: start;
}
.smsLink {
  width: 735px;
  height: 160px;
  margin-top: 65px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.background {
  width: 592px;
  height: 160px;
  background-color: #a21f4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smsLink p {
  color: #e5e9f2;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
}
.smsSection .content .smsLink img {
  width: 144px;
  height: 160px;
  margin-bottom: 0px;
  position: relative;
  left: -1px;
}
.smsDivider {
  flex-shrink: 0;
  margin-top: 103px;
  margin-bottom: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.isoSMS {
  width: 20%;
}
.Delta {
  width: 60%;
}
.smsSection .content2 {
  margin-bottom: 134px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.smsSection .content2 img {
  width: 50%;
  border-radius: 50%;
  flex-shrink: 0;
}
.ifacSection {
  margin-bottom: min(25vh, 300px);
}
.firmasTitle {
  width: 100%;
  height: 157px;
  flex-shrink: 0;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firmasTitle p {
  color: #47b8eb;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.ifacSection .content {
  margin-bottom: 80px;
}
.tifac {
  line-height: 50px;
  text-align: start;
  margin-bottom: 10px;
}
.ifacLink {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 767px;
  height: 160px;
  flex-shrink: 0;
  background: #47b8eb;
  text-decoration: none;
}
.ifacLink p {
  color: #e5e9f2;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.ifacLink img {
  width: 244px;
  height: 80px;
  flex-shrink: 0;
}
@media only screen and (max-width: 1300px) {
  .smsSection .content2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
  }
  .smsSection .content2 img {
    width: 70%;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .smsLogoMain {
    width: 100%;
    height: auto;
  }
  .foroLogoMain {
    width: 100%;
    height: auto;
  }
  .smsLink {
    width: 100%;
  }
  .smsLink p {
    font-size: 28px;
    line-height: 40px;
  }
  .smsDivider {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .ifacLink {
    width: 100%;
  }
  .ifacLink p {
    width: 50%;
    font-size: 28px;
    line-height: 40px;
  }
  .ifacLink img {
    width: 40%;
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 600px) {
  .smsSection,
  .ifacSection {
    padding-left: 32px;
    padding-right: 32px;
  }
  .smsLink {
    height: 80px;
  }
  .background {
    height: 80px;
  }
  .smsLink p {
    font-size: 20px;
    line-height: 30px;
  }
  .smsSection .content .smsLink img {
    width: 72px;
    height: 80px;
    margin-bottom: 0px;
    position: relative;
    left: -1px;
  }
  .ifacLink {
    height: 80px;
  }
  .ifacLink p {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
  .ifacLink img{
    width: auto;
    height: 40px;
  }
  .tifac {
    line-height: 30px;
  }
  .tsms{
    line-height: 30px;
  }
}
