.valuesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(25vh - 64px);
}
.valuesContainer .textContainer {
  margin-bottom: 44px;
  margin-left: 16px;
  margin-right: 16px;
}
.logoRevealContainer {
  width: 100vw;
  height: 768px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  display: grid;
  align-content: center;
  gap: 30px;
  margin-bottom: 64px;
}
.valuesContainer .card {
  width: 590px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: #acc3f8;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  padding-right: 32px;
}
.valuesContainer .first {
  justify-self: flex-end;
  margin-right: 210px;
  padding-right: 70px;
}
.valuesContainer .second {
  margin-left: 210px;
  padding-left: 70px;
}
.card .cardTitle {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 12px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.card .cardDescription {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.halfLogoRight {
  width: 440px;
  height: 512px;
  background-image: url("../../../Assets/default.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 356px;
  top: 0px;
  z-index: 0;
}
.halfLogoLeft {
  width: 440px;
  height: 512px;
  background-image: url("../../../Assets/default.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 356px;
  bottom: 0px;
  z-index: 0;
}
@media only screen and (max-width: 1350px) {
  .logoRevealContainer {
    width: 100vw;
    height: 512px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 64px;
    margin-bottom: 0px;
  }
  .valuesContainer .card {
    width: 480px;
    height: 192px;
    flex-shrink: 0;
  }
  .valuesContainer .first {
    margin-right: 96px;
    padding-right: 70px;
  }
  .valuesContainer .second {
    margin-left: 96px;
    padding-left: 70px;
  }
  .halfLogoRight {
    width: 220px;
    height: 256px;
    flex-shrink: 0;
    right: 324px;
  }
  .halfLogoLeft {
    width: 220px;
    height: 256px;
    flex-shrink: 0;
    left: 324px;
  }
}
@media only screen and (max-width: 600px) {
  .valuesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(25vh - 30px);
  }
  .logoRevealContainer {
    width: 100vw;
    height: 323px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 84px;
    margin-bottom: 30px;
  }
  .valuesContainer .card {
    width: 303px;
    height: 96px;
    flex-shrink: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .valuesContainer .first {
    margin-right: 29px;
    padding-right: 60px;
  }
  .valuesContainer .second {
    margin-left: 29px;
    padding-left: 60px;
  }
  .card .cardTitle {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 14px;
  }
  .card .cardDescription {
    height: 45px;
    overflow-y: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  .halfLogoRight {
    width: 120px;
    height: 140px;
    right: 228px;
    top: 0px;
  }
  .halfLogoLeft {
    width: 120px;
    height: 140px;
    left: 228px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .logoRevealContainer {
    padding-left: 8px;
    padding-right: 8px;
  }
  .valuesContainer .first {
    margin-right: 0px;
    justify-self: flex-start;
  }
  .valuesContainer .second {
    margin-left: 0px;
  }
  .halfLogoRight {
    right: 212px;
  }
  .halfLogoLeft {
    left: 212px;
  }
}
