.valuesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
}
.valuesContainer .textContainer {
  margin-bottom: 44px;
}
.valuesContainer .textContainer .titleValues {
  color: #1d619d;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 32px;
}
.valuesContainer .textContainer .textValues {
  color: #090909;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logoRevealContainer {
  width: 100vw;
  height: 768px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  display: grid;
  align-content: center;
  gap: 30px;
  margin-bottom: 128px;
}
.valuesContainer .card {
  width: 592px;
  height: 228px;
  border-radius: 40px;
  background-color: #acc3f8;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  padding-right: 32px;
}
.valuesContainer .first {
  justify-self: flex-end;
  margin-right: 208px;
  padding-right: 60px;
}
.valuesContainer .second {
  margin-left: 208px;
  padding-left: 60px;
}
.card .cardTitle {
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.card .cardDescription {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.halfLogoRight {
  width: 440px;
  height: 512px;
  background-image: url("../../../Assets/Images/valuesImage/der.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 356px;
  top: 0px;
  z-index: 100;
}
.halfLogoLeft {
  width: 440px;
  height: 512px;
  background-image: url("../../../Assets/Images/valuesImage/isq.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 356px;
  bottom: 0px;
  z-index: 100;
}
