.servMainSection {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.servMainSection .textContainer {
  padding-left: 96px;
  padding-right: 64px;
  padding-top: 72px;
  width: 800px;
  flex-shrink: 0;
}
.servMainSection .textContainer h1 {
  font-weight: 500;
  font-size: 54px;
  color: var(--DeltaBlue);
  margin-bottom: 52px;
}
.servMainSection .textContainer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}
.servMainSection .textContainer p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}
.servMainSection .imageContainer {
  width: calc(100% - 800px);
  height: 768px;
  flex-shrink: 1;
}
.servMainSection .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servTeamSection {
  padding-left: 96px;
  padding-right: 96px;
}
.servTeamSection h2 {
  font-size: 38px;
  font-weight: 500;
  color: var(--DeltaBlue);
  margin-bottom: 64px;
}
.servTeamSection .serviceTeamGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
}
.servTeamSection .serviceTeamGrid > div {
  width: 330px;
  height: 96px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.servTeamSection .serviceTeamGrid > div > img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-right: 32px;
  display: flex;
  flex-direction: row-reverse;
}
.servTeamSection .serviceTeamGrid > div .text .name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.servTeamSection .serviceTeamGrid > div .text .role {
  font-size: 16px;
  line-height: 20px;
}
.servTeamSection .serviceLink {
  width: 738px;
  height: 64px;
  margin: 48px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--DeltaBlue);
  border-radius: 15px;
  text-decoration: none;
}
.servTeamSection .serviceLink p{
  font-size: 20px;
  font-weight: 600;
  color: var(--DeltaBlue);
}
@media only screen and (max-width: 1150px) {
}
@media only screen and (max-width: 950px) {
}
@media only screen and (max-width: 600px) {
}
