.statsContainer {
  width: 100vw;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.blueContainer {
  width: 90%;
  border-radius: 140px;
  display: grid;
  grid-template-columns: auto 145px;
  align-items: center;
  background-color: #235eb6;
}
.whiteContainer {
  position: relative;
  left: -10vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 120px;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}
.whiteContainer .stat {
  width: 245px;
  height: 170px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stat .logoContainer {
  width: 56px;
  height: 56px;
  background-color: #235eb6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat .logoContainer .iconStat {
  width: 45px;
  height: 45px;
}
.titleStat {
  color: #235eb6;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 133.333% */
}
.textStat {
  color: var(--text-gray-900, #18191f);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.logo {
  position: relative;
  left: -5vw;
  justify-self: center;
  width: 115px;
  height: 115px;
  /* background-color: aliceblue; */
  background-image: url("../../../Assets/Images/ISOTIPO\ DELTA\ BLANCO.png");
  background-size: contain;
}

@media only screen and (max-width: 1150px) {
  .whiteContainer .stat {
    width: 130px;
    height: 130px;
  }
  .logo {
    width: 95px;
    height: 95px;
  }

  .stat .logoContainer {
    width: 40px;
    height: 40px;
  }
  .stat .logoContainer .iconStat {
    width: 30px;
    height: 30px;
  }
  .titleStat {
    font-size: 32px;
    line-height: 48px; /* 133.333% */
  }
  .textStat {
    font-size: 12px;
    line-height: 18px; /* 177.778% */
  }
}
@media only screen and (max-width: 800px) {
  .whiteContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .whiteContainer .stat {
    width: 130px;
    height: 130px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .blueContainer {
    grid-template-columns: auto 125px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 600px) {
  .statsContainer {
    justify-content: center;
  }
  .blueContainer {
    width: 90%;
    border-radius: 120px;
    grid-template-rows: 80px auto;
    grid-template-columns: auto;
    justify-items: center;
  }
  .whiteContainer {
    width: 70%;
    left: 0vw;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    border-radius: 90px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
    bottom: -70px;
  }
  .whiteContainer .stat {
    width: 120px;
    height: 120px;
    margin: 15px;
  }
  .logo {
    grid-row-start: 1;
    left: 0;
    bottom: -30px;
    width: 80px;
    height: 80px;
  }
}
