.statsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sCright {
  padding-left: 20%;
  --mainBlue: #1d619d;
}
.sCleft {
  padding-right: 20%;
  --mainBlue: #A00303;;
}
.outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bCright {
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  background-color: var(--mainBlue);
}
.bCleft {
  border-top-right-radius: 140px;
  border-bottom-right-radius: 140px;
  background-color: var(--mainBlue);
}

.whiteContainer {
  min-height: 256px;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 64px;
  margin-bottom: 64px;
  border-radius: 100px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 8px rgba(41, 41, 42, 0.40);
}
.wCright {
  left: -9%;
}
.wCleft {
  right: -9%;
}
.whiteContainer .stat {
  width: 165px;
  height: 192px;
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.stat .logoContainer {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat .logoContainer .iconStat {
  width: 64px;
  height: 64px;
}
.titleStat {
  color: var(--mainBlue);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
.textStat {
  color: var(--mainBlue);
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  .sCright {
    padding-left: 15%;
  }
  .sCleft {
    padding-right: 15%;
  }
  .whiteContainer{
    width: 104%;
  }
}
@media only screen and (max-width: 950px) {
  .sCright {
    padding-left: 25%;
  }
  .sCleft {
    padding-right: 25%;
  }
  .bCright {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .bCleft {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  .whiteContainer {
    padding: 64px;
    width: 107%;
    justify-content: space-around;
    row-gap: 76px;
  }
  .wCright {
    left: -96px;
  }
  .wCleft {
    right: -96px;
  }
  .whiteContainer .stat {
    width: 175px;
    height: 160px;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .statsContainer {
    justify-content: center;
    margin-bottom: calc(64px + 25vh);
    padding-left: 0;
    padding-right: 0;
  }
  .outerContainer {
    width: 73%;
    min-width: 310px;
    border-radius: 120px;
  }
  .whiteContainer {
    width: 58%;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 64px 8px;
    flex-direction: column;
    border-radius: 80px;
    bottom: -64px;
    row-gap: 48px;
  }
  .whiteContainer .stat {
    width: 100%;
    height: 180px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .titleStat {
    font-size: 36px;
  }
  .textStat {
    font-size: 13px;
  }
}
