.navBar {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #235eb6;
  width: 100vw;
  height: 120px;
  padding-left: 65px;
  padding-right: 65px;
  z-index: 999;
}
.imageContainer {
  width: 442px;
  height: 71px;
}
.imageContainer a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/Images/ISOLOGO\ DELTA\ BLANCO.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.listContainerHorizontal {
  width: 860px;
  height: 47px;
  display: flex;
  place-items: center;
}
.listContainerVertical {
  display: flex;
  justify-content: center;
  place-items: center;
}
.listScreensHorizontal {
  width: 860px;
  height: 47px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.listScreensVertical {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
.screens li a {
  font-size: 20px;
  text-decoration: none;
  color: #fffefe;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.screens li {
  margin-left: 70px;
}
@media only screen and (max-width: 1150px) {
  .navBar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .imageContainer {
    width: 330px;
    height: 47px;
  }
  .listContainerHorizontal {
    width: 559px;
    height: 39px;
  }
  .listScreensHorizontal {
    width: 559px;
    height: 39px;
  }
  .screens li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .screens li {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .navBar {
    padding-left: 45px;
    padding-right: 45px;
  }
  .imageContainer {
    width: 351px;
    height: 57px;
  }
  .showMenuButton {
    height: 65px;
    width: 64px;
  }
  .showMenuButton img {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .navBar {
    padding-left: 32px;
    padding-right: 32px;
    z-index: 999;
  }
  .showMenuButton {
    height: 58px;
    width: 57px;
  }
  .imageContainer {
    width: 282px;
    height: 49px;
  }
}
@media only screen and (max-width: 400px) {
  .navBar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .showMenuButton {
    height: 45px;
    width: 45px;
  }
  .imageContainer {
    height: 40px;
  }
}
