.navBar {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #235eb6;
  width: 100vw;
  height: 120px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 999;
}
.navBar .imageContainer {
  width: 442px;
  height: 71px;
  flex-shrink: 0;
  margin-right: 60px;
}
.navBar .imageContainer img {
  width: 100%;
}
.imageContainer a {
  display: block;
  width: 100%;
  height: 100%;
}
.listContainerHorizontal {
  flex-grow: 1;
  min-width: 600px;
  max-width: 800px;
  height: 47px;
  display: flex;
  place-items: center;
}
.listScreensHorizontal {
  width: 100%;
  height: 47px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listContainerVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listScreensVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.listScreensVertical div {
  height: 40px;
  margin-top: 96px;
}
.listScreensVertical div a {
  display: inline-block;
  color: #fffefe;
  text-align: center;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.listScreensVertical div a.active {
  color: #1d619d;
}
.listScreensHorizontal div a {
  font-size: 20px;
  text-decoration: none;
  color: #fffefe;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
@media only screen and (max-width: 1250px) {
  .navBar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .navBar .imageContainer {
    width: 330px;
    height: 47px;
    margin-right: 50px;
  }
  .listContainerHorizontal {
    flex-grow: 1;
    min-width: 400px;
    max-width: 600px;
  }
  .listScreensHorizontal div a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .navBar {
    padding-left: 45px;
    padding-right: 45px;
  }
  .navbar .imageContainer {
    width: 351px;
    height: 57px;
    margin-right: 45px;
  }
  .showMenuButton {
    height: 65px;
    width: 64px;
  }
  .showMenuButton img {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .navBar {
    padding-left: 32px;
    padding-right: 32px;
    z-index: 999;
  }
  .showMenuButton {
    height: 58px;
    width: 57px;
  }
  .navBar .imageContainer {
    width: 282px;
    height: 49px;
    margin-right: 0px;
  }
  .listScreensVertical {
    margin-top: 30px;
  }
  .listScreensVertical div {
    height: 36px;
    margin-top: 65px;
  }
  .listScreensVertical div a {
    display: inline-block;
    font-size: 36px;
  }
}
@media only screen and (max-width: 460px) {
  .navBar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .showMenuButton {
    height: 45px;
    width: 45px;
  }
}
@media only screen and (max-width: 380px) {
  .navBar .imageContainer {
    width: 230px;
    display: flex;
    align-items: center;
  }
  .navBar .imageContainer a {
    height: auto;
  }
}
