.teamContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 25vh;
}
.teamContainer .textContainer {
  width: 100%;
  max-width: 768px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamContainer .textContainer .titleTeam {
  color: #1d619d;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 30px;
}
.teamContainer .textContainer .textTeam {
  color: #090909;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Cards Section Start */
.teamContainer .membersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 64px;
  row-gap: 85px;
}
.teamContainer .membersContainer .card {
  width: 256px;
  height: 384px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  background-color: #1d619d;
}
.teamContainer .membersContainer .card .imageContainer {
  width: 256px;
  height: 192px;
  flex-shrink: 0;
}
.teamContainer .membersContainer .card .cardInfo {
  width: 256px;
  height: 192px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.teamContainer .membersContainer .card .cardInfo .name {
  color: #f5f5f5;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}
.teamContainer .membersContainer .card .cardInfo .job {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.teamContainer .membersContainer .card .cardInfo .mail {
  color: #f5f5f5;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.teamContainer .membersContainer .card .cardInfo .phone {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 1020px){
  .teamContainer {
    padding-left: 45px;
    padding-right: 45px;
  }
  .teamContainer .membersContainer {
    gap: 32px;
    row-gap: 64px;
  }
}
