.teamContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
}
.teamContainer .textContainer {
  width: 100%;
  max-width: 768px;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Cards Section Start */
.teamContainer .departmentContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.teamContainer .departmentContainer .drawer {
  width: 100%;
  height: 86px;
  padding-left: 64px;
  padding-right: 64px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 14px #1d619d;
}
.teamContainer .departmentContainer .drawer .departmentTitle {
  color: #1d619d;
  text-align: center;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
}

.teamContainer .membersContainer {
  margin-top: 32px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}
.cardFrame {
  width: 320px;
  height: 448px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamContainer .membersContainer .cardFrame .card {
  width: 256px;
  height: 384px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  background-color: #1d619d;
}

.teamContainer .membersContainer .card .imageContainer {
  width: 256px;
  height: 192px;
  flex-shrink: 0;
}
.teamContainer .membersContainer .card .cardInfo {
  width: 256px;
  height: 192px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.teamContainer .membersContainer .front .card .cardInfo .name {
  color: #f5f5f5;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.teamContainer .membersContainer .front .card .cardInfo .job {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.teamContainer .membersContainer .reverse .card .cardInfo .name {
  color: #f5f5f5;
  margin-top: 0px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.teamContainer .membersContainer .reverse .card .cardInfo .job {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.teamContainer .membersContainer .card .resume {
  width: 226px;
  height: 348px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 214.286% */
  margin: 0 auto;
}
.teamContainer .membersContainer .card .cardInfo .mail {
  color: #f5f5f5;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.teamContainer .membersContainer .card .cardInfo .phone {
  color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 900px) {
  .teamContainer .departmentContainer .drawer {
    padding-left: 45px;
    padding-right: 45px;
  }
  .teamContainer .membersContainer {
    padding-left: 45px;
    padding-right: 45px;
  }
  .teamContainer .departmentContainer .drawer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .icon {
    width: 46px;
    height: 23px;
  }
}
@media only screen and (max-width: 600px) {
  .teamContainer .textContainer {
    margin-bottom: 35px;
  }
  .teamContainer .membersContainer {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .teamContainer .departmentContainer .drawer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .teamContainer .departmentContainer .drawer .departmentTitle {
    color: #1d619d;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .icon {
    width: 30px;
    height: 15px;
  }
}
