.clientLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clientSection .textContainer {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 78px;
}
.clientsContainer {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  row-gap: 36px;
}
.clientItem {
  width: 170px;
  height: 96px;
  flex-shrink: 0;
}
.clientItem .imageContainer {
  height: 100%;
  width: 100%;
}
.clientItem .imageContainer img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .clientSection .textContainer {
    margin-bottom: 35px;
  }
}
