.downloadContainer {
  width: 352px;
  height: 576px;
  background-color: #364660;
  box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 45px;
  overflow: hidden;
}
.downloadContainer .content {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.downloadContainer .titleDownload {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
}
.downloadContainer .descriptionDownload {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  height: 120px;
}
.downloadContainer .imageContainer {
  width: 100%;
  height: 45%;
}
.downloadContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.downloadContainer .iconContainer {
  height: 64px;
  width: 64px;
}
.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1100px) {
  .downloadContainer {
    width: 256px;
    height: 448px;
  }
  .downloadContainer .content {
    padding: 30px;
    gap: 10px;
  }
  .downloadContainer .titleDownload {
    font-size: 20px;
  }
  .downloadContainer .descriptionDownload {
    font-size: 14px;
    line-height: 22px;
    height: 82px;
  }
}
@media only screen and (max-width: 900px) {
  .downloadContainer {
    width: 224px;
    height: 384px;
  }
  .downloadContainer .content {
    padding: 15px 30px;
    gap: 15px;
  }
  .downloadContainer .titleDownload {
    font-size: 16px;
  }
  .downloadContainer .descriptionDownload {
    font-size: 12px;
    line-height: 22px;
    height: 82px;
  }
  .downloadContainer .iconContainer {
    height: 43px;
    width: 43px;
  }
}
