@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --DeltaBlue: #1d619d;
  --DarkBlue: #364660;
  --LightBlue: #49c6ff;
  --SMSRed: #a21f4a;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  background-color: whitesmoke;
}
body {
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}


.Screen > * {
  margin-top: 15vh;
}
.Screen > nav {
  margin-top: 0px;
}
.Screen > .top {
  margin-top: 0px;
}
.Screen > .topTitle {
  margin-top: 32px;
}
