@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  background-color: white;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

.Screen > * {
  margin-top: 25vh;
  /* border: solid blue 20px; */
}
.Screen > .navBar {
  margin-top: 0px;
  height: 100px;
}
.Screen > .top {
  margin-top: 0px;
}
.Screen > .topTitle {
  margin-top: 32px;
}

.Title {
  color: #1d619d;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 29px;
  padding-left: 10px;
  padding-right: 10px;
}
.Text {
  text-align: center;
  color: var(--text-gray-900, #000);
  font-size: 20px;
  margin-bottom: 82px;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 600px) {
  .Title {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .Text {
    font-size: 15px;
    margin-bottom: 64px;
  }
}
