.heroContainer {
  height: calc(100vh - 120px);
  width: 100vw;
  margin-top: 120px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% bottom;
  overflow: hidden;
}

.textContainer {
  height: calc(100vh - 125px);
  width: 950px;
  padding: 70px;
}

.title {
  font-size: 64px;
  color: white;
  font-weight: 700;
  line-height: 98px;
  font-family: "Encode Sans", sans-serif;
}
.text {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Encode Sans", sans-serif;
  margin-top: 40px;
}
.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #f4f5f7;
  opacity: 0.5;
}
.arrow:hover {
  opacity: 1;
}
.forward {
  right: 0px;
  top: calc(50% - 20px);
}
.rewind {
  left: 0px;
  top: calc(50% - 20px);
}

@media only screen and (max-width: 1150px) {
  .textContainer {
    width: 750px;
  }
  .title {
    font-size: 56px;
    color: white;
    font-weight: 700;
    line-height: 72px;
    font-family: "Encode Sans", sans-serif;
  }
  .text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .heroContainer {
    justify-content: center;
    background-position: 75% bottom;
  }
  .textContainer {
    width: 100vw;
  }
  .title {
    font-size: 48px;
    color: white;
    font-weight: 700;
    line-height: 64px;
    font-family: "Encode Sans", sans-serif;
  }
  .text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Encode Sans", sans-serif;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .textContainer {
    padding: 40px;
  }
  .arrow {
    width: 25px;
    height: 25px;
  }
  .forward {
    top: calc(50% - 12.5px);
  }
  .rewind {
    left: 0px;
    top: calc(50% - 12.5px);
  }
}